:root{
    --menu-width:20vw;
      --primary-color:rgb(93,16,10);
      --secondary-color:#842A3B;
      --third-color:#A3485A;
      --fourth-color:#F5DAA7;
      --sixth-color:#5D100A;
      --seventh-color:#A75E61;
      --eighth-color:#CA8F94;
      --nineth-color:#E7BFC0;
      --tenth-color:#FBE4E4;
  
  }
  .welcome-contact{
    display:flex;
    justify-content: center;
  }
  h2 {
    color:var(--primary-color);
    font-size: 3rem;
    opacity:1;
    transform: translateY(0);
    animation:fade-in 1.8s ease;
  }
  h3{
    color:var(--primary-color);
  }
  p{
    color:var(--third-color);
  }
 


.form-container{
    width:100vw;
   max-width:90%;
    height:50%;
    padding:10em 2em ;
    margin:4rem auto;
    background-color: var(--tenth-color);
    
}
.form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.inputs{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0.5em ;
}
 input, textarea{
    border:none;
    border-radius:2px;
}

label{
    color:var(--third-color);
    padding:0.2em;
}
.submitBtn{
    background-color: var(--eighth-color);
    padding:0.3em 1em;
    border:none;
    border-radius:3px;
    color:var(--secondary-color);
    cursor:pointer
}
.submitBtn:hover{
    background-color: var(--third-color)
    
}

.info-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.phone,.email,.location{
display:flex;
flex-direction: column;
align-items: center;
padding: 1em;
}
.google-maps-container{
    display:flex;
    justify-content: center;
    margin-block: 3rem;
}

  @keyframes fade-in{
    0%{
     opacity:0;
     transform:translateY(50px);
    }
    
 }

 @media(min-width:844px){
    .info-container{
        display:flex;
        flex-direction: row;
        align-items: center;
    }
 }


