*{
    margin:0;
    padding:0;
}
.container{
    display:flex;
flex-direction: column;
align-items: center;
padding-block: 10px ;
}
.h2-h3{
    display:flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: "Cinzel Decorative", serif;
}
h3{
    font-family: "Cinzel Decorative", serif;
padding-block: 10px 30px;

}
figcaption{
    font-family: "Cinzel Decorative", serif;
}
.box{
    width:350px;
    height:250px;
    margin-top:4rem;
    padding: 0;

}
.bog,img{
    width:100%;
    height:100%;
    padding: 0;

}


.image-caption{
    justify-self:center ;
}


/* example */
.parallax {
    display: flex;
    flex-direction: row;
    justify-content: center;
margin:0 auto;
    align-items: center;
    width:350px;
    height: 250px;
    background-image: url('images/pexels-markusspiske-11145683.jpg');
    background-attachment: fixed;   /* key property */
    background-position: center;
    background-size: cover;
    
  }
  
  .text {
    color:white;
    width: 50%;
    padding: 20px;
  }
  

@media(min-width:1024px){
    
    .container{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
margin-block: 1rem;;
    }
   
     
    .box ,.parallax{
        width:750px;
        height:450px;
        padding:0 5px; 
    }
}