*{
    margin:0;
    padding:0;
}
header{
    display:flex;
    justify-content:space-around;
    padding:10px 0;
  }

h1 a{
    text-decoration:none;
    color:black
}

.hamburger-btn {
    border: 2px solid gray;
    background:none;
    cursor: pointer;
    padding: 5px;
    border-radius:2px;
  }
  
  .line {
    display: block;
    width: 15px; 
    height: 2px; 
    margin: 2px 0;
    background-color: #333; 
    /* transition: all 0.3s ease;  */
  }