*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
:root{
  --menu-width:20vw;
    --primary-color:rgb#5D100A;
    --secondary-color:#842A3B;
    --third-color:#A3485A;
    --fourth-color:#F5DAA7;
    --sixth-color:#5D100A;
    --seventh-color:#A75E61;
    --eighth-color:#CA8F94;
    --nineth-color:#E7BFC0;
    --tenth-color:#FBE4E4;

}

body{
  transition:transform 0.3s ease-out;
  overflow-x: hidden;
  box-sizing: border-box;
}


.header{
  display:flex;
  justify-content:space-around;
  align-items: flex-start;
  padding:15px 50px;
  margin-right:5px;
}

.logo-image{
  /* max-width:100%;
  height:auto; */
  width:2em;
  /* border:2px solid; */
  margin-block: 2px 0;
  align-items: center;
}
.logo{
  width:2em;
}

.hamburder-btn{
  border:2px solid var(--eighth-color);
  background-color: transparent;
  border-radius: 5px;
  cursor:pointer;
  padding:15px 4px;
  box-sizing: border-box;
}
.line{
  display:block;
  width:15px;
  height:2px;
  background-color:#5D100A;
  margin:2px 10px;
transition:transform 0.3s ease, opacity 0.3s ease;

}

.hamburder-btn.open .line-top{
  transform:translateY(-5px) rotate(45deg);
}


hr{
  background-color: rgba(128, 128, 128, 0.16);
  padding: 1px;
  border:none;
}
.menu-is-closed{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:var(--menu-width);
  background-color: black;
  z-index:100;
  transform:translateX(100%);
  transition: transform 0.3s ease-out;
  text-align: center;
}


body.nav-open{
  transform:translateX(calc(0px-var(--menu-width)));

}
body.nav-open .menu-is-closed{
  transform:translateX(0);
}

ul>li{
  text-decoration: none;
  list-style-type: none;
  color:white;
  font-size: small;
  margin-top: 2em;
} 
ul>li>a{
  text-decoration: none;
  list-style-type: none;
  color:white;
  padding:5px;
  font-size: small;
} 

/* from here i start with hero div */

.hero-container{
  position:relative;
  width:100vw;
  height:50vh;
  margin-top: 1rem;
}
.img-box{
  width:100%;
  height:100%;
}
.img-box img{
  width:100%;
  height:100%;
  object-fit: cover;
  background-color:transparent;
}

#h2Title{
  position:absolute;
  top:0.5em;
  padding-left:0.5em;
  font-size: 3em;
}
#p1{
  position:absolute;
  top:2em;
  padding-left:0.9em;
  padding-top:0.4em;
  font-size: 2em;
  

}
#p2{
  position:absolute;
  top:3.0em;
  padding-left:3em;
  padding-top:0.4em;
  font-size: 2em;

  color:rgba(0, 0, 0, 0.47);

}

.btns{
  position:absolute;
  bottom:1em;
  padding-left:1em;
}
.galleryBtn{
  border-radius: 12px;
  padding:5px;
  background-color:transparent;
  cursor:pointer;

}


.galleryBtn>a{
  text-decoration: none;
  color:black;
}
.galleryBtn>a:hover{
  color:rgba(0, 0, 0, 0.671);
}
.shopBtn{
  border-radius: 12px;
  padding:5px;
  color:white;
  border:black 2px solid;
  background-color:black;
  cursor:not-allowed;
}
.shopBtn::after{
  content:'Coming soon...';
  position:absolute;
  bottom: 120%; /* above the button */
  /* left: 80%; */
  transform: translateX(-85%);
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  opacity:0;
  transition:opacity 0.3s ease;
}
.shopBtn:hover::after{
  opacity:1
}


.galleryBtn,.shopBtn{
  animation: slideFromLeft 1s ease;
}
.slideFromAbove{
  animation:slideFromAbove 1s ease-in-out;
}
.slideFromLeft{
  animation :slideFromLeft 1s ease-in-out;
}

.whatWeDoContainer{
  display:flex;
  text-align: center;
  width:100vw;
  height:auto;
  padding:6em 2em;
  justify-content: space-evenly;
}


.whatWeDoBox{
  display:column;
  padding:1rem;
}

.ourStoryContainer{
  width:100vw;
  height:60vh;
  background-color: whitesmoke;
  margin-block:3rem ;
  display:flex;
  flex-direction: column;
  /* border:2px solid; */
  padding-top: 1em;
}
.ourStoryImg{
  width:100%;
  height:auto;
  text-align: center;
  margin:0;
  /* border:2px solid; */

}
.ourStoryImg img{
  width:100%;
  height:100%;
  object-fit: contain;

}
.ourStoryDescription{
text-align: center;
padding:2em 1em;
}
.ourStoryDescription>h4{
  font-size: 2rem;
}
.ourStoryDescription>button{
  margin-block:1em;
  padding:7px;
  border-radius:13px;
  border:1px solid;
  background-color: transparent;
  cursor: pointer;
}


/* animations for my hero */

@keyframes slideFromAbove{
  from{
    opacity:0;
    transform:translateY(-3em);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}


@keyframes slideFromLeft{
  from {
    opacity:0;
    transform:translateX(-3em);
  }
  to{
    opacity:1;
    transform:translateX(0);
  }
}

@media(min-width:667px){
  .hero-container{
    width:100vw;
    height:60vh;
margin:0 auto;
  }
.img-box{
  width:90%;
  height:100%;
margin:0 auto;

}

.img-box img{
  width:100%;
  height:100%;
  object-fit: contain;
}

}

@media(min-width:844px){
  

  .hamburder-btn{
    display:none;
  }
  header{
    display:flex;

    justify-content: space-around;
    align-items: center;
    padding:15px 40px;
  }
  
/* 4. Reset the Menu to be INLINE */
 .menu-is-closed{
  position:static; 
  transform:none; 
  height:auto;
  width:auto;
  background-color: white; 
  z-index: auto;
  padding-top: 0;
} 
 
   .menu-is-closed,ul,li{
    display:flex;
    flex-direction: row;
justify-content: space-evenly;
padding:0 10px;
  }
  .menu-is-closed>ul>li>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.614);
  
  }
  .menu-is-closed>ul>li>a:hover{
    color: black;
  } 
  
  .whatWeDoContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }








  .ourStoryContainer{
    width:100vw;
    height:50vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 1em;
  }

  .ourStoryImg{ 
    width:40%;
    height:100%;
    /* border:2px solid; */
  }
.ourStoryDescription{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width:60%;
  height:auto;
}


.hero-container{
  width:90vw;
  height:60vh;
  }
  .img-box{
    width:100%;
    height:100%;

  }
  .img-box img{
    width:100%;
    height:100;
    object-fit: contain;
  }

  
  
  
}

@media(min-width:932px){
  .hero-container{
  width:90vw;
  height:60vh;
  }
  .img-box{
    width:100%;
    height:100%;

  }
  .img-box img{
    width:100%;
    height:100;
    object-fit: contain;
  }
}