*{
  margin:0;
  padding:0;
}
:root{
  --menu-width:20vw;
    --primary-color:rgb#5D100A;
    --secondary-color:#842A3B;
    --third-color:#A3485A;
    --fourth-color:#F5DAA7;
    --sixth-color:#5D100A;
    --seventh-color:#A75E61;
    --eighth-color:#CA8F94;
    --nineth-color:#E7BFC0;
    --tenth-color:#FBE4E4;

}

body{
  transition:transform 0.3s ease-out;
  overflow-x: hidden;
}


.header{
  display:flex;
  justify-content:space-around;
  align-items: flex-start;
  padding:15px 50px;
  margin-right:5px;
}

.logo-image{
  /* max-width:100%;
  height:auto; */
  width:2em;
  /* border:2px solid; */
  margin-block: 2px 0;
  align-items: center;
}
.logo{
  width:2em;
}

.hamburder-btn{
  border:2px solid var(--eighth-color);
  background-color: transparent;
  border-radius: 5px;
  cursor:pointer;
  padding:15px 4px;
  box-sizing: border-box;
}
.line{
  display:block;
  width:15px;
  height:2px;
  background-color:#5D100A;
  margin:2px 10px;
transition:transform 0.3s ease, opacity 0.3s ease;

}

.hamburder-btn.open .line-top{
  transform:translateY(-5px) rotate(45deg);
}


hr{
  background-color: rgba(128, 128, 128, 0.16);
  padding: 1px;
  border:none;
}
.menu-is-closed{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:var(--menu-width);
  background-color: black;
  z-index:100;
  transform:translateX(100%);
  transition: transform 0.3s ease-out;
  text-align: center;
}


body.nav-open{
  transform:translateX(calc(0px-var(--menu-width)));

}
body.nav-open .menu-is-closed{
  transform:translateX(0);
}

ul>li{
  text-decoration: none;
  list-style-type: none;
  color:white;
  font-size: small;
  margin-top: 2em;
} 
ul>li>a{
  text-decoration: none;
  list-style-type: none;
  color:white;
  padding:5px;
  font-size: small;
} 

/* from here i start with hero div */

.hero-container{
  position:relative;
  width:100vw;
  height:20vh;
  margin-top: 1rem;
}
.img-box{
  width:100%;
  height:100%;
}
.img-box img{
  width:100%;
  height:auto;
  object-fit: cover;
}

#h2Title{
  padding-left:0.5em;
}
#p1{
  padding-left:0.9em;
  padding-top:0.3em;

}
#p2{
  padding-left:4em;
  color:rgba(0, 0, 0, 0.47);

}
.slideFromAbove{
  animation:slideFromAbove 1s ease;
}
.slideFromLeft{
  animation :slideFromLeft 1s ease;
}

/* animations for my hero */

@keyframes slideFromAbove{
  from{
    opacity:0;
    transform:translateY(-3em);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}


@keyframes slideFromLeft{
  from {
    opacity:0;
    transform:translateX(-3em);
  }
  to{
    opacity:1;
    transform:translateX(0);
  }
}

@media(min-width:844px){
  

  .hamburder-btn{
    display:none;
  }
  header{
    display:flex;

    justify-content: space-around;
    align-items: center;
    padding:15px 40px;
  }
  
/* 4. Reset the Menu to be INLINE */
 .menu-is-closed{
  position:static; 
  transform:none; 
  height:auto;
  width:auto;
  background-color: white; 
  z-index: auto;
  padding-top: 0;
} 
 
   .menu-is-closed,ul,li{
    display:flex;
    flex-direction: row;
justify-content: space-evenly;
padding:0 10px;
  }
  .menu-is-closed>ul>li>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.614);
  
  }
  .menu-is-closed>ul>li>a:hover{
    color: black;
  } 
  
}