*{
  margin:0;
  padding:0;
}
body{
  transition:transform 0.3s ease-out;
  overflow-x: hidden;
}
/* header{
  display:flex;
  justify-content: space-between;
  align-items: center;
} */
.header{
  display:flex;
  justify-content:space-between;
  padding:15px 100px;
  margin-right:5px;
}
h1{

  font-family: Lora;

}
h1>a{
  text-decoration: none;
  color:black
}

.hamburder-btn{
  border:2px solid rgba(128, 128, 128, 0.429);
  /* padding: 10px; */
  background-color: transparent;
  border-radius: 5px;
  /* margin-right:8rem; */
  cursor:pointer;
}
.line{
  display:block;
  width:15px;
  height:2px;
  background-color:black;
  margin:2px 10px;
transition:transform 0.3s ease, opacity 0.3s ease;

}

.hamburder-btn.open .line-top{
  transform:translateY(-5px) rotate(45deg);
}


hr{
  background-color: rgba(128, 128, 128, 0.16);
  padding: 1px;
  border:none;
}
.menu-is-closed{
  display: none;
  
  
}


body.nav-open{
  transform:translateX(-100px);

}
body.nav-open .menu-is-closed{
  transform:translateX(0);
}
.menu-is-open{
  display:block;
  background-color: black;
  position:fixed;
  top:0;
  right:-30vw;
  width:40%;
  height:100vh;
  text-align: center;
  justify-content:center;
  padding-top:2em;

}
ul>li{
  list-style-type: none;
  color:white;
  padding-block:5px;
  font-size: small;
} 
.menu-is-open>ul>li>a{
  color:white;
  text-decoration: none;

}
@media(min-width:844px){
  .hamburder-btn{
    display:none;
  }
  header{
    display:flex;

    justify-content: space-around;
    align-items: center;
  }
  .menu-is-closed,ul,li{
    display:flex;
    flex-direction: row;
justify-content: space-evenly;
padding:0 10px;
  }
  .menu-is-closed>ul>li>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.614);
  
  }
  .menu-is-closed>ul>li>a:hover{
    color: black;
  }
  
}