.cakeTopper-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:1rem;
}
.box-material{
    font-family: 'champagne';
    border:1px solid var(--primary-color);
    border-radius:20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.14);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:0.5rem;
    padding:1.9em;

}
.box-material:hover{
    background-color: var(--nineth-color);
}

.box-material>h3{
    color:var(--primary-color);
}
.box-material>p{
    color:var(--seventh-color);
}

@media(min-width:844px){
    .cakeTopper-container{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height:100vh;
    }
    .box-material{
        max-width: 300px;
        margin:1.5rem;

    }
    
}