.cakeTopper-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cakeTopper-img{
    width:180px;
    height:auto;
    padding-bottom: 0.5em;
}
.cakeTopper-img img{
    width:100%;
    height:auto;
}

@media(min-width:844px){
    .sign-img{
        width:400px;
        height:auto;
padding-bottom:4em
    }
    
}