*{
    margin:0;
    padding:0;

}


.stamps-container,.hero-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-block:0 1rem;
}

.hero-stamp{
    width:100vw;
    height:auto;
}
.hero-stamp>img{
    width:100%;
    height:100%;
}

.product-box{
    width:300px;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-block: 0.6rem;
    border:2px solid black;
    border-radius:20px;
    padding:1em;

}
.img-box{
    width:180px;
    height:auto;

}
.img-box>img{
    width:100%;
    height:100%;
    border-radius:20px;

}


.team-stamps{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 14rem;
    margin-bottom: 7rem;

}
.img-box-stamps{
    width:180px;
    height:auto;
    padding-bottom: 0.5em;
}
.img-box-stamps>img{
    width:100%;
    height:auto;
}
ul>.advantageList{
    color:black;
  list-style-type: bullets;
    
}


@media(min-width:846px){
    .team-stamps{
        margin-top:26rem;
       
    }
    .img-box-stamps{
        width:400px;
        height:auto;
padding-bottom:4em
    }
}